@page "/admin/qrcode"
@using BlazorBootstrap
@layout AdminLayout
@using MudBlazor
@using VirtualTour.Web.Components.BaseComponents
@using VirtualTour.Web.Components.Layout
    <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">

        <!-- Tiêu đề và nút tạo mới -->
        <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="mb-4">
            <MudText Typo="Typo.h3" Class="fw-bold">QR Code List</MudText>
                <PermissionView Permission="QRCode.Create">
            <MudButton Variant="Variant.Filled" 
                    Color="Color.Primary"
                    Size="Size.Small"
                    OnClick="ToggleCreateCard" 
                    StartIcon="@Icons.Material.Filled.Add">
                Create New QR-Code
            </MudButton>
                </PermissionView>
        </MudStack>

        @if (qRCodeModels == null)
        {
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Large" />
        }
        else
        {
            <!-- Tránh bọc thêm MudPaper nếu đã dùng Container + DataGrid có viền -->
            <MudDataGrid T="QRCodeModel"
                         Items="@qRCodeModels"
                         @ref="QRCodeGrid"
                         Sortable="false"
                         PageSize="10"
                         Dense="true"
                         Hover="true"
                         Striped="true"
                         Bordered="true"
                         Elevation="1"
                         FixedHeader="true"
                         SelectedItemChanged="@(item => OnSelectedItemChanged(item))">

                <Columns>
                    @* <SelectColumn T="QRCodeModel" /> *@
                    @* <PropertyColumn Property="x => x.IDQR" Title="ID" Visible="false" /> *@
                    <PropertyColumn Property="x => x.IDQR"                                   
                                    Filterable="false"
                                    Sortable="false"
                                    Title="ID"
                                    HeaderCellStyle="width: 30px; text-align: center;"
                                    CellStyle="width: 30px; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" />

                    <PropertyColumn Property="x => x.QRName" Title="Name" />
                    <PropertyColumn Property="x => x.QRType"
                                    Filterable="false"
                                    Sortable="false"
                                    Title="Type" 
                                    HeaderCellStyle="text-align: center;"  
                                    CellClass="text-center" />
                    <PropertyColumn Property="x => x.SSIDName"
                                    Filterable="false"
                                    Sortable="false"
                                    Title="SSID"
                                    HeaderCellStyle="text-align: center;"
                                    CellStyle="text-align: center;" />
                  @if(RoleName == "Admin" ){
                    <PropertyColumn Property="x => x.WifiPassHash"
                                    Filterable="false" 
                                    Sortable="false"
                                    Title="Password"
                                    HeaderCellStyle="text-align: center;"
                    CellStyle="text-align: center;" />
                }
                else
                {
                         <TemplateColumn Title="Password" Filterable="false" Sortable="false"
                                    HeaderCellStyle="text-align: center;" >
                                    <CellTemplate>
                                        <div style="text-align: center; color: #9e9e9e; font-style: italic;">*********</div>
                                    </CellTemplate>
                                </TemplateColumn>
                }
                <PropertyColumn Property="x => x.SecurityType" 
                                Title="Security Type" 
                                Filterable="false" 
                                Sortable="false"  
                                    HeaderCellStyle="width: 30px; text-align: center;"
                                    CellStyle="width: 30px; text-align: center;" />

                    <PropertyColumn Property="x => x.ChangeOnDays"                                  
                                    Filterable="false"
                                    Sortable="false"
                                    Title="Change (Days)"                                   
                                    HeaderCellStyle="width: 30px; text-align: center;"
                                    CellStyle="width: 30px; text-align: center;" />

                    
                    <!-- QR Code Options -->
                    <TemplateColumn Title="Display" Filterable="false" Sortable="false"
                                    HeaderCellStyle="text-center;" CellStyle="text-center">
                                    
                        <CellTemplate>
                            <div style="display: flex; justify-content: center; align-items: center;">
                            <MudStack Row="true" Spacing="1">
                                
                                <MudTooltip Text="Show QR Code">
                                    <MudIconButton Icon="@Icons.Material.Filled.QrCode"
                                                   Size="Size.Small"
                                                   Color="Color.Primary"
                                                   OnClick="@(() => ShowQrCode(context.Item))" />
                                </MudTooltip>
                               
                                @* <MudTooltip Text="Show QR with link info">
                                    <MudIconButton Icon="@Icons.Material.Filled.Link"
                                                   Size="Size.Small"
                                                   Style="color: #00897b;"
                                                   OnClick="@(() => ShowQrCodeForLink(context.Item))" />
                                </MudTooltip> *@
                            </MudStack>
                            </div>
                        </CellTemplate>
                    </TemplateColumn>
                    
                    <!-- Actions -->
                     <TemplateColumn  Filterable="false" Sortable="false">
                        <CellTemplate>
                            <MudStack Row="true" Spacing="1">
                                <PermissionView Permission="QRCode.Edit">
                                <MudTooltip Text="Edit">
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                   Size="Size.Small"
                                                   Color="Color.Primary"
                                                   OnClick="@(() => EditWifi(context.Item))" />
                                </MudTooltip>
                                </PermissionView>
                                  <PermissionView Permission="QRCode.Delete">
                                <MudTooltip Text="Delete">
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                                   Size="Size.Small"
                                                   Color="Color.Error"
                                                   OnClick="@(() => { DeleteId = context.Item.IDQR; OnShowModalDeleteClick(); })" />
                                </MudTooltip>
                                </PermissionView>
                            </MudStack>
                        </CellTemplate>
                    </TemplateColumn> 

                </Columns>

                <PagerContent>
                    <MudDataGridPager T="QRCodeModel" />
                </PagerContent>
            </MudDataGrid>
        }
    </MudContainer>

@* <MudButton Class="mb-4" Variant="Variant.Filled" Color="Color.Primary" @onclick="ToggleCreateCard">
    <MudIcon Icon="@Icons.Material.Filled.Add" /> Create New Wifi
</MudButton>
 <MudButton Class="mb-4" Variant="Variant.Filled" Color="Color.Primary" @onclick="ShowQrCode">
    <MudIcon Icon="@Icons.Material.Filled.QrCode" /> Create Qr Code
</MudButton>
<MudButton Class="mb-4" Variant="Variant.Filled" Color="Color.Primary" @onclick="ShowQrCodeLink">
    <MudIcon Icon="@Icons.Material.Filled.QrCode" /> Create Qr Code Link
</MudButton>  *@

<!-- Modal -->


<Modal @ref="ModalCreate" title="Create New QR-Code" IsVerticallyCentered="true" IsScrollable="true">
        <BodyTemplate>
            <div class="card-body">
                <div class="form-group mb-3">
                    <label>QR Name</label>
                    <input class="form-control" @bind="newQRCodeModel.QRName" />
                </div>

                <div class="form-group mb-3">
                    <label>Type</label>
                    <MudSelect T="string" Variant="Variant.Outlined" @bind-Value="newQRCodeModel.QRType" Label="Select QR Type">
                        <MudSelectItem Value="@("WIFI")">WIFI</MudSelectItem>
                        <MudSelectItem Value="@("WIFI-INFO")">WIFI-INFO</MudSelectItem>
                        <MudSelectItem Value="@("LINK")">LINK</MudSelectItem>
                    </MudSelect>
                </div>

                @if (newQRCodeModel.QRType == "LINK")
                {
                    <div class="form-group mb-3">
                        <label>QR Content</label>
                        <input class="form-control" @bind="newQRCodeModel.QRContent" />
                    </div>
                }
                else
                {
                    <div class="form-group mb-3">
                        <label>SSID Name</label>
                        <input class="form-control" @bind="newQRCodeModel.SSIDName" />
                    </div>

                    <div class="form-group mb-3">
                        <label>Security type</label>
                        <MudSelect T="string" Variant="Variant.Outlined" @bind-Value="newQRCodeModel.SecurityType" Label="Select Security Type">
                            <MudSelectItem Value="@("WEP")">WEP</MudSelectItem>
                            <MudSelectItem Value="@("WPA")">WPA</MudSelectItem>
                            <MudSelectItem Value="@("WPA2")">WPA2</MudSelectItem>
                            <MudSelectItem Value="@("WPA3")">WPA3</MudSelectItem>
                        </MudSelect>
                    </div>

                    <div class="form-group mb-3">
                        <label>Password</label>
                        <input class="form-control" @bind="newQRCodeModel.WifiPassHash" />
                    </div>

                    <div class="form-group mb-3">
                        <label>Change On Days</label>
                        <MudSelect T="string" Variant="Variant.Outlined" @bind-Value="newQRCodeModel.ChangeOnDays" Label="Select Day">
                            <MudSelectItem Value="@("None")">None</MudSelectItem>
                            <MudSelectItem Value="@("Monday")">Monday</MudSelectItem>
                            <MudSelectItem Value="@("Tuesday")">Tuesday</MudSelectItem>
                            <MudSelectItem Value="@("Wednesday")">Wednesday</MudSelectItem>
                            <MudSelectItem Value="@("Thursday")">Thursday</MudSelectItem>
                            <MudSelectItem Value="@("Friday")">Friday</MudSelectItem>
                            <MudSelectItem Value="@("Saturday")">Saturday</MudSelectItem>
                            <MudSelectItem Value="@("Sunday")">Sunday</MudSelectItem>
                        </MudSelect>
                    </div>
                }
            </div>
        </BodyTemplate>
        <FooterTemplate>
            <Button Color="ButtonColor.Primary" style="width:180px" @onclick="CreateWifi">Create</Button>
            <Button Color="ButtonColor.Secondary" @onclick="OnHideModalCreateClick">Cancel</Button>
        </FooterTemplate>
    </Modal>

<Modal @ref="ModalEdit" title="Update QR-Code" IsVerticallyCentered="true" IsScrollable="true">
    <BodyTemplate>
        <div class="card-body">
                <div class="form-group mb-3">
                    <label>QR Name</label>
                    <input class="form-control" @bind="editingQRCode.QRName" />
                </div>
                <div class="form-group mb-3">
                    <label>Type</label>
                    <MudSelect T="string" Variant="Variant.Outlined" @bind-Value="editingQRCode.QRType" Label="Select Security Type">
                        <MudSelectItem Value="@("WIFI")">WIFI</MudSelectItem>
                        <MudSelectItem Value="@("WIFI-INFO")">WIFI-INFO</MudSelectItem>
                        <MudSelectItem Value="@("LINK")">LINK</MudSelectItem>
                    </MudSelect>
                </div>
                @if (editingQRCode.QRType == "LINK")
                {
                    <div class="form-group mb-3">
                        <label>QR Content</label>
                        <input class="form-control" @bind="editingQRCode.QRContent" />
                    </div>
                }
                else
                {
                    <div class="form-group mb-3">
                        <label>SSID Name</label>
                        <input class="form-control" @bind="editingQRCode.SSIDName" />
                    </div>
                    <div class="form-group mb-3">
                        <label>Security type</label>
                        <MudSelect T="string" Variant="Variant.Outlined" @bind-Value="editingQRCode.SecurityType" Label="Select Security Type">
                            <MudSelectItem Value="@("WEP")">WEP</MudSelectItem>
                            <MudSelectItem Value="@("WPA")">WPA</MudSelectItem>
                            <MudSelectItem Value="@("WPA2")">WPA2</MudSelectItem>
                            <MudSelectItem Value="@("WPA3")">WPA3</MudSelectItem>
                        </MudSelect>
                    </div>
                       @if(RoleName == "Admin" ){
                    <div class="form-group mb-3">
                        <label>Password</label>
                        <input class="form-control" @bind="editingQRCode.WifiPassHash" />
                    </div>
                       }
                    <div class="form-group mb-3">
                        <label>Change On Days</label>
                        <MudSelect T="string" Variant="Variant.Outlined" @bind-Value="editingQRCode.ChangeOnDays" Label="Select Day">
                            <MudSelectItem Value="@("None")">None</MudSelectItem>
                            <MudSelectItem Value="@("Monday")">Monday</MudSelectItem>
                            <MudSelectItem Value="@("Tuesday")">Tuesday</MudSelectItem>
                            <MudSelectItem Value="@("Wednesday")">Wednesday</MudSelectItem>
                            <MudSelectItem Value="@("Thursday")">Thursday</MudSelectItem>
                            <MudSelectItem Value="@("Friday")">Friday</MudSelectItem>
                            <MudSelectItem Value="@("Saturday")">Saturday</MudSelectItem>
                            <MudSelectItem Value="@("Sunday")">Sunday</MudSelectItem>
                        </MudSelect>
                    </div>                    
                }

               
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" style="width:180px" @onclick="() => UpdateWifi(editingQRCode)">Update QR-Code</Button>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalEditClick">Cancel</Button>
    </FooterTemplate>

</Modal>
<Modal @ref="ModalDelete" title="Notification">
    <BodyTemplate>
        Are you sure you want to delete this QR Code?
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" style="width:80px" @onclick="HandleDelete">Yes</Button>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalDeleteClick">Cancel</Button>
    </FooterTemplate>
</Modal>


<Modal @ref="ModalQrCode" IsVerticallyCentered="true" IsScrollable="true">
        <HeaderTemplate>
            <h5>@ModalQrCodeTitle</h5>
        </HeaderTemplate>
        <BodyTemplate>
            <div class="text-center">
                <div id="qrCodeContainer"></div>
            </div>
        </BodyTemplate>
        <FooterTemplate>
             <Button Color="ButtonColor.Dark" Style="margin-right:auto;" @onclick="ReverseQrCode">Dark Background</Button>
            <Button Color="ButtonColor.Primary" @onclick="DownloadCurrentQrCode">Download</Button>
         
            @* <Button Color="ButtonColor.Secondary" @onclick="() => ModalQrCode.Hide()">Close</Button> *@
        </FooterTemplate>

    </Modal>



@* <Modal @ref="ModalQrCode"  IsVerticallyCentered="true" IsScrollable="true">
    <BodyTemplate>
        <div class="text-center">
            <div id="qrCodeContainer"></div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="DownloadCurrentQrCode">Download</Button>
        <Button Color="ButtonColor.Secondary" @onclick="HideQrCode">Close</Button>
    </FooterTemplate>
</Modal> *@