@page "/admin/nodes"
@using MudBlazor
@using BlazorBootstrap
@using VirtualTour.Web.Components.Layout
@layout AdminLayout
@inject NavigationManager Navigation

@if (Nodes == null)  
{  
    <p>Loading ...</p>  
}  
else  
{
    <MudStack  Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Row="true">
     <div  Style="width:200px" >
    <MudSelect  T="int"
        Label="Start node:" Variant="Variant.Filled "   
        @bind-Value="currentStartNodeId" @bind-Value:event="onchange" ValueChanged="HandleSelectChange">
        @if (Nodes != null)
        {
            foreach (var node in Nodes)
            {
                <MudSelectItem  Value="@node.Id">@node.Name</MudSelectItem>
            }
        }
    </MudSelect>
    </div>
    <div >
            <label>Section:</label>
            <InputSelect style="height:35px;width:220px" @bind-Value="selectedSection">
            <option Value="None">None</option>
            @if (Sections != null)
            {
                foreach (var area in Sections)
                {
                    <option Value="@area.Id">@area.SectName</option>
                }
            }
        </InputSelect>
        </div>
        <div >
            <label>Floor:</label>
               <InputSelect style="height:35px;width:220px" @bind-Value="selectedFloor">
            <option Value="None">None</option>
            @if (Floors != null)
            {
            foreach (var area in Floors.Where(x => x.SectId == selectedSection))
                {
                    <option Value="@area.Id">@area.FloorNum</option>
                }
            }
        </InputSelect>
        </div>
              <div >
            <label>Area:</label>
            <InputSelect style="height:35px;width:220px" @bind-Value="selectedArea">
                  <option  Value="None">None</option>
                  @if( Areas != null)
                     {
                            foreach (var area in Areas)
                        {
                            <option  Value="@area.Id">@area.AreaName</option>
                        }
                      }
            </InputSelect>
        </div>
             <div >
            <label>Department:</label>
            <InputSelect style="height:35px;width:220px" @bind-Value="selectedDept">
                    <option  Value="None">None</option>
                  @if( Depts != null)
                     {
                            foreach (var dept in Depts)
                        {
                            <option  Value="@dept.Id">@dept.DeptName</option>
                        }
                      }
            </InputSelect>
        </div>
   
       <MudButton Color="Color.Primary"
               Variant="Variant.Filled"
                Size="Size.Small"
               OnClick="@(() => Navigation.NavigateTo($"/admin/node/create?workshop={selectedSection}&floor={selectedFloor}&area={selectedArea}&dept={selectedDept}"))">
        <MudIcon Icon="@Icons.Material.Filled.Add" /> Create New Node
    </MudButton>
    </MudStack>
         <div>
            <MudTextField style="height:35px;background-color:white;margin-right:240px" class="mt-4 w-50 ms-auto"  Immediate="true" @bind-Value="searchFilter" 
              Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" />
        </div>
    <MudContainer Class="mt-4 w-75" Style="width: 100%; max-width: none;">
        <MudGrid Spacing="3" Justify="Justify.Center">
            @foreach (var node in Nodes.Where(
            x=>x.SectionId==selectedSection&&
               (selectedFloor == 0 ||x.FloorId==selectedFloor)&&
            (selectedArea == 0 || x.AreaId == selectedArea) &&
            (selectedDept == 0 || x.DeptId == selectedDept) &&
             (string.IsNullOrWhiteSpace(searchFilter) || x.Name.Replace("_", " ").ToLower()
             .Contains(searchFilter.Replace("_", " ").ToLower()))))
            {
                <MudItem xs="6" sm="6" md="4" lg="3">
                    <MudPaper Class="d-flex flex-column align-items-center p-2" Elevation="4">
                        <MudImage Src="@node.Thumbnail" Alt="@node.Name" Width="120" Height="120" />
                        <div style="text-align:center;">
                            <MudText Class="mt-1" Typo="Typo.subtitle1">@node.Name</MudText>
                        </div>
                   <MudStack Style= Row="true">
                            <MudTooltip Text="Edit">
                                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                               Size="Size.Small"
                                                  OnClick='@(() => Navigation.NavigateTo($"/admin/node/edit/{node.Id}"))'
                                               Color="Color.Primary"
                                            />
                            </MudTooltip>
                            <MudTooltip Text="Delete">
                                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                               Size="Size.Small"
                                               onclick="@(() => { DeleteID=@node.Id; OnShowModalClick(); })"
                                               Color="Color.Error"
                                              />
                            </MudTooltip>
                                  <MudTooltip Text="Link new node">
                                <MudIconButton Icon="@Icons.Material.Filled.Add"
                                               Size="Size.Small"
                                               Color="Color.Success"
                                                         OnClick="@(() => Navigation.NavigateTo($"/admin/node/create?workshop={selectedSection}&floor={selectedFloor}&area={selectedArea}&dept={selectedDept}&linked={@node.Id}"))"
                                              />
                            </MudTooltip>
                        </MudStack>
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>

        <Modal @ref="Modal" title="Notification">
            <BodyTemplate>
                Are you sure you want to delete this node?
            </BodyTemplate>
            <FooterTemplate>
                <Button Color="ButtonColor.Primary" style="width:80px" @onclick="HandleDelete">Yes</Button>
                <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Cancel</Button>
            </FooterTemplate>
        </Modal>
    </MudContainer>  
}  
