@page "/admin/node/edit/{Id:int}"
@using MudBlazor
@using VirtualTour.Web.Components.Layout
@layout AdminLayout
<h3>Edit Node</h3>
<div style="display:flex; gap:20px;">
    <div style="flex:1; max-width:400px;">
        <div class="form-group" style="margin-bottom:20px">
            <MudFileUpload T="IBrowserFile" FilesChanged="UploadThumbnailFiles">
                <ActivatorContent>
                    <MudButton StartIcon="@Icons.Material.Filled.AttachFile">Choose thumbnail</MudButton>
                </ActivatorContent>
                <SelectedTemplate>
                    @if (context != null)
                    {
                        <MudText>@context.Name</MudText>
                    }
                    else
                    {
                        <MudText>@node.Thumbnail</MudText>
                    }
                </SelectedTemplate>
            </MudFileUpload>
        </div>
        <div class="form-group" style="margin-bottom:20px">
            <MudTextField @bind-Value="node.Name" Label="Name" Variant="Variant.Outlined"></MudTextField>
            <MudTextField @bind-Value="node.Caption" Label="Caption" Variant="Variant.Outlined"></MudTextField>
        </div>
        <div>
            <label>Section:</label>
            <InputSelect style="height:35px;width:220px;margin-top:5px" @bind-Value="node.SectionId">
                <option Value="None">None</option>
                @if (Sections != null)
                {
                    foreach (var area in Sections)
                    {
                        <option Value="@area.Id">@area.SectName</option>
                    }
                }
            </InputSelect>
        </div>
        <div>
            <label>Floor:</label>
            <InputSelect style="height:35px;width:220px;margin-top:5px" @bind-Value="node.FloorId">
                <option Value="None">None</option>
                @if (Floors != null)
                {
                    foreach (var area in Floors.Where(x => x.SectId == node.SectionId))
                    {
                        <option Value="@area.Id">@area.FloorNum</option>
                    }
                }
            </InputSelect>
        </div>
        <div>
            <label>Area:</label>
            <InputSelect style="height:35px;width:220px;margin-top:5px" @bind-Value="node.AreaId">
                <option Value="None">None</option>
                @if (Areas != null)
                {
                    foreach (var area in Areas)
                    {
                        <option Value="@area.Id">@area.AreaName</option>
                    }
                }
            </InputSelect>
        </div>
        <div>
            <label>Department:</label>
            <InputSelect style="height:35px;width:220px;margin-top:5px" @bind-Value="node.DeptId">
                <option Value="None">None</option>
                @if (Depts != null)
                {
                    foreach (var dept in Depts)
                    {
                        <option Value="@dept.Id">@dept.DeptName</option>
                    }
                }
            </InputSelect>
        </div>

    </div>
    <div style="flex:2;">
        <div id="viewer" style="width:60vw; height:50vh"></div>
    </div>
</div>
<div style="margin:20px">
<MudButton Color="Color.Primary"
           Variant="Variant.Filled" @onclick="SaveNode">Save node</MudButton>
<MudButton Color="Color.Warning"
           Variant="Variant.Filled" @onclick="AddHotSpot">Create hotspot</MudButton>
<MudButton Color="Color.Tertiary"
           Variant="Variant.Filled" @onclick="SetInitialView">Set initial view</MudButton>
</div>
@if (selectedHotSpot != null)
{
    <div style="width:600px;margin-left:600px;margin-top:-80px">
        <MudStack>
            <MudTextField @bind-Value="selectedHotSpot.MarkerId" Label="Selected Hot Spot" ReadOnly="true" Variant="Variant.Text" />
            <MudStack Row="true">
                <MudText Style="margin-top:15px">Links to:</MudText>
                <InputSelect class="form-control" style="height:55px;width:200px" @bind-Value="selectedHotSpot.TargetNode">
                    @if (nodes != null)
                    {
                        foreach (var node in nodes.Where(x => (x.SectionId == node.SectionId
                        && x.AreaId == node.AreaId && x.FloorId == node.FloorId) || (selectedHotSpot.TargetNode != 0 && x.Id == selectedHotSpot.TargetNode)))
                        {
                            <option value="@node.Id">@node.Name</option>
                        }
                    }
                </InputSelect>
                <MudButton @onclick="RotateHotSpot" Color="Color.Info" Variant="Variant.Filled">
                    <MudIcon Icon="@Icons.Material.Filled.RotateRight" />
                </MudButton>
                <MudButton @onclick="DeleteHotSpot" Color="Color.Error" Variant="Variant.Filled">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" />
                </MudButton>
                <MudButton @onclick="SaveHotSpot" Color="Color.Success" Variant="Variant.Filled">
                    <MudIcon Icon="@Icons.Material.Filled.Check" />
                </MudButton>
            </MudStack>
        </MudStack>
    </div>
}